@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Spartan";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: hsl(300, 43%, 22%);
  min-width: 310px;
  margin: 0 auto;
  max-width: 328px;
}
a:hover {
  opacity: 0.7;
}
header {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}
header h1 {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  color: hsl(300deg 27% 33%);
  letter-spacing: -1.1px;
  line-height: 37px;
  font-weight: 800;
  font-size: 2.2rem;
}
header p {
  color: hsl(303deg 18% 46%);
  font-weight: 500;
  line-height: 1.7;
  font-size: 0.9rem;
}
h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.card {
  margin-bottom: 1rem;
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
}
/* summary */
.summary {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin-bottom: 3rem;
}
.summary__info {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: hsl(300, 24%, 96%);
}
.info__stars {
  margin-bottom: 0.7rem;
}
.info__stars img {
  margin-right: 4px;
}
.info__text {
  color: hsl(300deg 33% 34%);
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.2px;
}
/* reviews */
.review {
  background-color: hsl(300, 43%, 22%);
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: start;
  padding: 2.5rem 2rem;
  color: white;
  padding-right: 1.1rem;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}
.review__header {
  display: flex;
  gap: 15px;
  margin-bottom: 1.7rem;
}
.review__header img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  align-items: center;
}
.review__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
}
.review__status {
  opacity: 0.7;
  font-size: 0.8rem;
  color: hsl(333deg 66% 75%);
}
.review p {
  line-height: 1.7;
  opacity: 0.9;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  color: hsl(300deg 100% 97%);
  font-size: 0.8rem;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* dekstop style */
@media (min-width: 1200px) {
  body {
    min-width: 1200px;
    max-width: none;
    margin: auto;
  }
  header {
    flex: 50%;
    text-align: start;
    margin-top: 0;
  }
  header p {
    padding-right: 130px;
  }
  header h1 {
    padding: 0;
    padding-right: 85px;
    font-size: 3rem;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 100px;
  }
  /* summary */
  .summary {
    flex: 50%;
    margin-bottom: 0;
  }
  .summary__info {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 1.3rem;
    justify-content: normal;
    width: 83%;
    font-weight: 700;
  }
  .info__stars {
    margin-bottom: 0;
  }
  .info__stars img {
    margin-right: 5px;
  }
  .summary__info:nth-child(2) {
    margin-left: 40px;
  }
  .summary__info:nth-child(3) {
    margin-left: 60px;
  }
  .info__text {
    font-size: 0.8rem;
    font-weight: 800;
  }
  /* reviews */
  .reviews {
    display: flex;
    flex-direction: row;
  }
  .review {
    width: 31%;
    padding-bottom: 2rem;
  }
  .review p {
    padding-right: 1.8rem;
  }
  .review:nth-child(2) {
    margin-top: 50px;
  }
  .review:nth-child(3) {
    margin-top: 90px;
  }
}
